@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Html.ActionLink("Html导出PDF", "ToPdf")</p>
    <p>@Html.ActionLink("Word导出PDF", "Index", "Word")</p>
</div>
